.auth-register {
    height: 100%;
}

.auth-login {
    height: 88vh;
}

.form {
    max-width: 400px;
}

.messages {
    max-width: fit-content;
}

header {
    background-image: radial-gradient(closest-side, transparent, #212630), url(/static/img/jumbotran-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-light-dark {
    background-color: #212630;
}

.bg-dark-blue {
    background-color: #23395d;
}

.btn-primary {
    background-color: #2d4772;
    border-color: #23395d;
    margin: 5px;
}