{% load i18n %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}{% translate "Pocket Trader" %}{% endblock %}</title>
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    <!-- Bootstrap ICON-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/bootstrap_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <section id="navbar">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid px-5">
                    <a class="navbar-brand" href="{% url 'trader:index' %}">
                        <img src="{% static 'favicon/favicon-32x32.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top"> Pocket Trader
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="{% url 'trader:blogs' %}">Blogs</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'trader:about' %}">About us</a></li>
                        </ul>

                        <div class="navbar-nav mb-2 mb-lg-0 ms-auto ml-auto">

                            {% if user.is_authenticated%}
                            <div class="btn-group">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Signed in as <strong>{{ user.username }}</strong>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Log Out</a></li>
                                </ul>
                            </div>


                            {% else %}
                            <a href="{% url 'users:login' %}" class="mx-1 px-4 btn btn-primary rounded-pill" id="login">Log in</a>
                            <a href="{% url 'users:register' %}" class="mx-1 px-3 btn btn-primary rounded-pill" id="register">Register</a> {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </section>

        <!-- main -->
        <section id="main">
            {% block body%} {% endblock %}
        </section>

        <!-- Footer-->
        <section id="footer">
            <footer class="bg-dark py-2 mt-auto">
                <div class="container-fluid px-5">
                    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                        <div class="col-auto">
                            <div class="small m-0 text-white">Copyright &copy; A.H.Mobayen</div>
                        </div>
                        <div class="col-auto">
                            <a class="link-light small" href="#!">Privacy</a>
                            <span class="text-white mx-1">&middot;</span>
                            <a class="link-light small" href="#!">Terms</a>
                            <span class="text-white mx-1">&middot;</span>
                            <a class="link-light small" href="#!">Contact us</a>
                        </div>
                    </div>
                </div>
            </footer>
        </section>

    </main>

    <section id="scripts">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}" crossorigin="anonymous"></script>
        {% block script %} {% endblock %}
    </section>
</body>

</html>