{% extends "layout.html" %} {% load static %} {% block body %}

<div class="auth-login bg-light-dark text-light py-5 px-4 px-md-5">

    <div class="text-center mb-3">
        <div class="feature btn-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-box-arrow-in-right"></i></div>
        <h1 class="fw-bolder">Login</h1>
        <p class="lead fw-normal text-muted mb-0">We'd love to be in touch with you</p>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="form ">
            {% if message %}
            <div class="text-center "><strong>{{ message | linebreaks }}</strong></div>
            {% endif %}
            <form action="{% url 'users:login' %} " method="post">
                {% csrf_token %}

                <div class="form-outline form-white mb-3 ">
                    <label for="username">Username</label>
                    <input class="form-control " type="text" name="username" placeholder="Username" autofocus autocomplete required>

                </div>

                <div class="form-outline form-white mb-3 ">
                    <label for="password">Password</label>
                    <input class="form-control " type="password" name="password" placeholder="Password" autofocus autocomplete required>

                </div>

                <div class="d-grid ">
                    <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
                </div>
            </form>

            <div class="text-center mb-5">
                <hr> Don't have an account? <a href="{% url 'users:register' %} ">Register here.</a>
            </div>

        </div>
    </div>
</div>


{% endblock %}